*{
    padding: 5px;
    background-color:rgb(141, 228, 250);
}

.tution{
    padding: 5% 5%;
    text-align: center;
}

.icon-color{

    color: tomato;
}
.icon-color:hover{

    color:gray;
}
P{
    color: gray;
}
.design{
    font-style: italic;
}
.image-size{
    height: 300px;
    width: 700px;
  
}
.center{
    text-align: center;
    background-color:rgb(224, 173, 4);
    padding: 5% 5%;
}
